*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    box-shadow: 0 5px 10px #c1a505;
    background-color: #302a2a;  
    text-transform: uppercase;
    
}

.logo{
    height: 68px;
    padding: 2px 5px;
    /* background-color: red; */
    
}
.navbar-nav{
    padding: 5px;
    font-size: large;
    /* float: right; */
    margin-top: -50px;
}
.navbar-right{
    /* float: right; */
    
}

.icon-bar{
    background: darkorange;
}
