*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px #c1a505;
    /* background-color: #302a2a;   */
    text-transform: uppercase;
    
}

.logo{
    height: 68px;
    padding: 2px 5px;
}

.icon-bar{
    background: darkorange;
} 
