*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px #c1a505;
    /* background-color: #302a2a;   */
    text-transform: uppercase;
    
}

.logo{
    height: 68px;
    padding: 2px 5px;
}

.icon-bar{
    background: darkorange;
} 
li a {
    color: #c1a505;
}
li a:hover{
    color: blue;
}
.big-text{
    font-size: 52px;
    margin: 20px;
    color: darkorange;

}
a.btn{
    margin: 30px 10px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}

a.btn-first{
    background-color: darkorange;
    color: #fff;
}
/* a.btn-second{
    background:transparent;
    border: 1px solid darkorange;
} */

a.btn-third{
    background:transparent;
    border: 1px solid darkorange;
}

a.btn:hover{
    background-color: darkgoldenrod;
    border: none;
    color: white;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

.banner-info .banner-image{
    margin: 30px 0;

}